#
target/
.project
.classpath
.settings/
#
upr-data/.settings
upr-data/.project
upr-data/.classpath
upr-data/target
#
upr-backend/.settings
upr-backend/.project
upr-backend/.classpath
upr-backend/target
#
upr-api/.settings
upr-api/.project
upr-api/.classpath
upr-api/target
#
upr-assembly/src/main/dist/webapps/
upr-assembly/target
upr-assembly/.settings
upr-assembly/.project

